{% extends 'layouts.html' %}

<!-- {% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/layouts.css')}}">
{% endblock %} -->


{% block nav %}

<header>
    <div class="logo">
        <h1 class="logo-text"><a href="{{url_for('main.home_page')}}" style="text-decoration: none;"><span>pRO</span>bLOg</a></h1>
    </div>

    <i class="fa-solid fa-bars menu-toggle" style="font-size: .8rem;"></i>

    <ul class="nav">
      {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.blog_page')}}">Blog</a></li> 
        <li>
            <a href="#">
                <i class="fa-regular fa-user" style="font-size: .8rem;"></i> {{ current_user.username }} <i class="fa-solid fa-chevron-down" style="font-size: .8rem;"></i></a>
            <ul>
                <li><a href="{{url_for('users.dashboard_page')}}">Dashboard</a></li>
                <li><a href="{{url_for('users.logout_page')}}" class="Logout">Log out</a></li>
            </ul>
        </li>
    {% else %}
      <li><a href="{{url_for('main.home_page')}}"> Home</a></li>
      <li><a href="{{url_for('users.login_page')}}">Sign in </a></li> 
      <li><a href="{{url_for('users.register_page')}}">Register</a></li> 
    {% endif %}
  </header>
{% endblock %}




{% block content %}
<body style="text-align: center;">
    <div class="containerupdate updatemargin">
        <div class="container2">
            <h2>Update Account Information</h2><br>
        <form action="{{url_for('users.update_page')}}" method="POST" class="form-contain" style="color: white;" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

            
        

            <div class="form-group">
                {{ form.username.label(class="control-label") }}
                        <br>
                {% if form.username.errors %}
                    <ul class="errors">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.email.label(class="control-label") }}
                        <br>
                {% if form.email.errors %}
                    <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.bio.label(class="control-label") }}
                        <br>
                {% if form.bio.errors %}
                    <ul class="errors">
                    {% for error in form.bio.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% else %}
                    {{ form.bio(class="form-control-bio") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.image_file.label(class="control-label") }}
               
                {{ form.image_file(class="form-control") }}
                
            </div>
                    
                    <br>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>   
    </div>
</div>
</body>                   
{% endblock %}